services:
  redis:
    image: valkey/valkey:latest
    ports:
      - 6379:6379
    volumes:
      - valkey_data:/data
  postgresql:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transfers
    ports:
      - 5432:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data
volumes:
  valkey_data:
  postgresql_data: